<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>carMaintanence.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D54B3DCE1BCFA4E1009B9D9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D54B3DE21BCFA4E1009B9D9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D54B3DED1BCFA4E2009B9D9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
