<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>code</key>
		<string>Test1</string>
		<key>description</key>
		<string>Test 1 description text</string>
		<key>amount</key>
		<integer>2</integer>
		<key>group</key>
		<string>hardware</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Test2</string>
		<key>description</key>
		<string>Test 2 description text</string>
		<key>amount</key>
		<integer>3</integer>
		<key>group</key>
		<string>hardware</string>
	</dict>
</array>
</plist>
